<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
    <link href="{{url_for('static', filename='styles/form_style.css')}}" rel="stylesheet" />

</head>
<body>


<div class="container">
	<img src="/static/styles/2t.jpg" style="vertical-align:middle; margin-top:10%;" width="400" height="325" />  
  	<form id="contact" action="{{url_for('select')}}" method="GET" enctype="text/plain">
    	<fieldset>
      		<input placeholder="Choose reference object" type="text" tabindex="1" required autofocus name = "ref_object" min="1">
    	</fieldset>
    	<fieldset>
      		<input placeholder="Choose target object" type="text" tabindex="2" required name = "target_object" min="1">
    	</fieldset>
    	<fieldset>
      	<button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    	</fieldset>
  </form>
</div>

</body>
</html>