<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
    <link href="{{url_for('static', filename='styles/form_style.css')}}" rel="stylesheet" />

</head>
<body>

  <div id="contact-sec">
    <p style="text-align:center;">
  	 <img src="{{url_for('send_image', filename=image_name)}}" align="middle" style="margin-top:5%;" width="600" height="600" />
    </p>
  </div>
  <div>
    <p style="text-align:center; bottom: 0">
      <a href="http://127.0.0.1:4555/" title="Back to the Home page"><b>HOME</b></a>
    </p>
  </div>

</body>
</html>